<div style="background-color:blue;color:white;">
    <h2> We are facing some problem please try again!</h2>
    <p>
        please try after some time!!!
    </p>

<table border="1">
    <tr>
        <td>Path</td>
        <td>
            @ViewBag.path
        </td>
    </tr>
    <tr>
        <td>Error</td>
        <td>@ViewBag.error</td>
    </tr>
</table>
</div>