<html>
    <head>
        <title>Home Controller</title>
    </head>
    <body>
        <h1>Home controller called from index action!!</h1>
        <a asp-action="Index" asp-controller="AdminHome" asp-area="AdminArea">Go To Admin Area</a>||
        <a asp-action="Index" asp-controller="UserHome" asp-area="UserArea">Go To User Area</a>
    </body>
</html>