
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOut</title>
</head>
<body>
    <h3>You are logout succsessfully</h3>
    <h5>for login again<a asp-action="SignIn" asp-controller="Home">Click Here!</a></h5>
</body>
</html>
