@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Home action called!!</h2>
<h2>Home action called!!</h2>
<h2>Home action called!!</h2>
<h2>Home action called!!</h2>
<h2>Home action called!!</h2>

@section news
{
    <marquee> <span style="color:white;">News From Home Action</span> </marquee>
}